<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- External Lybrary of Buttons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>

<body>
    
    <div class="list-group m-5 ">
            <div class="list-group-item list-group-item-action d-flex justify-content-center bd-highlight">    
        <div class="button-group ">
            <a class="btn btn-outline-primary">Crear Archivo</a>
            <a class="btn btn-outline-secondary" >Crear Carpeta</a>
            <a class="btn btn-outline-success" href = "/cambiarNombre/{{ruta}}" >Cambiar Nombres</a>
            <a class="btn btn-outline-danger" href = "/cambiarPermisos/{{ruta}}" >Cambiar Permisos</a>
        </div>
    </div>    

        {%for directorio in directorios%}
        <div class="list-group-item list-group-item-action d-flex bd-highlight">

            <div class="p-2 flex-fill bd-highlight">
                <a href="/{{directorio[0]}}" >
                    <i class="far fa-folder "></i>
                    {{directorio[1]}} 
                </a>
            </div>

            <div class="p-2 bd-highlight">
                <a type="button" class="btn btn-sm btn-primary" href="/borrar?ruta={{directorio[0]}}">
                    Eliminar Carpeta
                </a>
            </div>

        </div>
        {%endfor%}
        {%for archivo in arch%}
        <div class="list-group-item list-group-item-action d-flex bd-highlight">

            <div class="p-2 flex-fill bd-highlight"> 
                <a href="/{{archivo[0]}}">
                    <i class="far fa-file"></i>
                    {{archivo[1]}} 
                </a>
            </div>
            
            <div class="p-2 bd-highlight">
                <div class="button-group">
                    <a type="button"  class="btn btn-sm btn-secodary" style="background:grey"  href="/borrar?ruta={{archivo[0]}}">
                        Eliminar Archivo                
                    </a>
                </div>
            </div>     

        </div>
        {%endfor%}

</body>

</html>
